.movies-container {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-gap: 20px; */
}
    /* padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px; */
  
  