.movie-details-container {
  margin-top: 15%;
}

.details-video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100vw;
}

.image {
  height: auto;
  width: 50%;
  border-color: rgba(13,101,107, .8);
  border-width: 8px;
  border-style: solid;
  border-radius: 30px;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: space-between;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 4vw;
  margin-bottom: 1%;
}

.overview {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 2%;
  width: 85%;
}

.other-details {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  margin-bottom: 3%;
}

.movie-trailer-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 45%;
}

iframe {
  width: 90%;
  margin-bottom: 10%;
}

.home-button {
  background-color: transparent;
  border: 4px solid rgba(13,101,107, .8);
  border-radius: 30px;
  -webkit-transition: all .15s ease-in-out;
  display: inline-block;
  align-content: center;
  transition: all .15s ease-in-out;
  color: #ffff;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  font-family: Caveat;
  margin-bottom: 15%;
  margin-top: 5%;
  width: 20%;
}
  
.home-button:hover{
  box-shadow: 0 0 10px 0 rgba(13,101,107, .8) inset, 0 0 20px 2px rgba(13,101,107, .8);
  border: 3px solid rgba(13,101,107, .8);
  color:#FFFFFF;
}
  
  
  
  