.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal; 
  margin-top: 15%;
}

.image {
  height: auto;
  width: 50%;
  border-color: rgba(13,101,107, .8);
  border-width: 8px;
  border-style: solid;
  border-radius: 30px;
}

.movie-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vh;
  height: 35vh;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: space-between;
  margin-top: 2%;
  width: 100vh;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 4vw;
  margin-bottom: 1%;
}

.overview {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 2%;
}

  /* .genres {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 35px;
    margin-bottom: 2%;
  }
   */

.other-details {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 25px;
  margin-bottom: 3%;
}

.movie-trailer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 60vw;
  margin-bottom: 3%;
}

iframe {
  height: 100%;
}

.home-button {
  background-color: transparent;
  border: 4px solid rgba(13,101,107, .8);
  border-radius: 30px;

  -webkit-transition: all .15s ease-in-out;
  display: inline-block;
  align-content: center;
  transition: all .15s ease-in-out;
  color: #ffff;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  font-family: Caveat;
  margin-bottom: 15%;
  width: 120%;
}
  
.home-button:hover{
  box-shadow: 0 0 10px 0 rgba(13,101,107, .8) inset, 0 0 20px 2px rgba(13,101,107, .8);
  border: 3px solid rgba(13,101,107, .8);
  color:#FFFFFF;
}
  
  
  
  