* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  background-image: url("./image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.error-message {
  margin-top: 15%;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 50px;
}