.movie-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  -webkit-filter: brightness(0.8);
}

  .card-image {
    width: 18vw;
    height: 48vh;
    margin: 2vh 1.5vw;
    cursor: pointer; 
    border-radius: 10%;
}


.movie-title {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 15%;
  
}

.movie-card {
  text-decoration: none;
}